<h1><%= @task.name %></h1>

<p><%= @task.task_name %></p>

<p><%= link_to "all the tasks", tasks_path %></p>

<p><%= link_to "edit this task", edit_task_path(@task) %></p>

<p><%= link_to "delete this task", task_path(@task), method: :delete %></p>
